<% if flash[:notice] %>
	<div class = "flash">
		<%= flash[:notice] %>
	</div>
<% end %>
<div id="top-images">
	<div id="theTarget">
		<div class="image1">
			<div class = "top-title">
		<h1>welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers    !!</h1>
	</div>
	<div class = "top-description">
		<div class = "top-description-first">
			<p>In <span class="glyphicon glyphicon-book" aria-hidden="true"><span class = "top-description-first-bookers">Bookers</span></span>,</p>
		</div>
		<div class = "top-description-second">
			<p>you can share and exchange your opinions ,inpressions,<br>
			and emotions about varioius books!</p>
		</div>
	</div>
		</div>
		<div class="image2">
			<div class = "top-title">
		<h1>welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers    !!</h1>
	</div>
	<div class = "top-description">
		<div class = "top-description-first">
			<p>In <span class="glyphicon glyphicon-book" aria-hidden="true"><span class = "top-description-first-bookers">Bookers</span></span>,</p>
		</div>
		<div class = "top-description-second">
			<p>you can share and exchange your opinions ,inpressions,<br>
			and emotions about varioius books!</p>
		</div>
	</div>
		</div>
		<div class="image3">
			<div class = "top-title">
		<h1>welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers    !!</h1>
	</div>
	<div class = "top-description">
		<div class = "top-description-first">
			<p>In <span class="glyphicon glyphicon-book" aria-hidden="true"><span class = "top-description-first-bookers">Bookers</span></span>,</p>
		</div>
		<div class = "top-description-second">
			<p>you can share and exchange your opinions ,inpressions,<br>
			and emotions about varioius books!</p>
		</div>
	</div>
		</div>
		<div class="image4">
			<div class = "top-title">
		<h1>welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers    !!</h1>
	</div>
	<div class = "top-description">
		<div class = "top-description-first">
			<p>In <span class="glyphicon glyphicon-book" aria-hidden="true"><span class = "top-description-first-bookers">Bookers</span></span>,</p>
		</div>
		<div class = "top-description-second">
			<p>you can share and exchange your opinions ,inpressions,<br>
			and emotions about varioius books!</p>
		</div>
	</div>
		</div>
		<div class="image5">
			<div class = "top-title">
		<h1>welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers    !!</h1>
	</div>
	<div class = "top-description">
		<div class = "top-description-first">
			<p>In <span class="glyphicon glyphicon-book" aria-hidden="true"><span class = "top-description-first-bookers">Bookers</span></span>,</p>
		</div>
		<div class = "top-description-second">
			<p>you can share and exchange your opinions ,inpressions,<br>
			and emotions about varioius books!</p>
		</div>
	</div>
		</div>
	</div>
</div>
<div class = "top-page">
	<div class = "top-buttons">
		<div class = "top-button">
			<%= link_to new_user_session_path do %>
			<div class = "btn btn-login btn-default">
				<p>Log in</p>
			</div>
			<% end %>
		</div>
		<div class = "top-button">
			<%= link_to new_user_registration_path do %>
			<div class = "btn btn-signup btn-default">
				<p>Sign Up</p>
			</div>
			<% end %>
		</div>
	</div>
</div>